<!-- Base html template that all webpages should inherit from -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
        <!-- pure-css, Pure CSS (2023). https://purecss.io/. [Software]. [Last Accessed 26/10/2023] -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
        <!-- Google Fonts, Noto Sans (2023). https://fonts.googleapis.com . [Font]. [Last Accessed 26/10/2023]-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,600;1,900&display=swap" rel="stylesheet">
        <!-- Font Awesome, Font Awesome Pro 6.4.2. https://fontawesome.com. [Icon]. [Last Accessed 26/10/2023]-->
        <script src="https://kit.fontawesome.com/85ff86a312.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename='jquery-3.7.1.js')}}"></script>
        <script src="{{url_for('static',filename='script.js')}}"></script>
        <link rel='icon' type="image/x-icon" href="{{url_for('static', filename='favicon.svg')}}"/>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Social App</title>
        {% endif %}
    </head>
    <body>
        <!-- Website navbar goes here-->
        <!-- Tagging for screenreaders -->
        <!-- The icons should be hidden from screen readers as the text gives all needed information-->
        <div id="navbar" role="navigation">
                <div class='pure-g'>
                <div class='pure-u-1-6'> <a href='/' class='navbar-link'>
                    <i class="fa-solid fa-house" alt="" aria-hidden="true"></i> Home</a> </div>
                <div class='pure-u-1-6'>  <a href="/users" class="navbar-link">
                    <i class="fa-solid fa-user" alt="" aria-hidden="true"></i> Users</a> </div>
                <div class='pure-u-1-6'>  <a href="/groups" class="navbar-link">
                    <i class="fa-solid fa-users" alt="" aria-hidden="true"></i> Group</a> </div>
                <div class='pure-u-1-6'> <a href="/add_group" class="navbar-link">
                    <i class="fa-solid fa-plus" alt="" aria-hidden="true"></i> Add Group</a> </div>
                <div class='pure-u-1-6'> <a href="/logout" class="navbar-link"> 
                    <i class="fa-solid fa-right-from-bracket" alt="" aria-hidden="true"></i> Logout</a> </div>
            </div>
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>