{% extends "base.html" %}
{% block content %}
<h1> Login </h1>
<form action = "" method="post" id="loginForm" class="pure-form">
    {{ form.hidden_tag() }}
<label for = "email">Email: </label> {{form.email}} <br>
{% for error in form.email.errors %}
        <p class='red-text'>Error: {{ error }} </p>
{% endfor %}<br>
<label for = "password"> Password: </label> {{form.password}} <br>
{% for error in form.password.errors %}
        <p class='red-text'>Error: {{ error }} </p>
{% endfor %}<br>
<input type="submit" class="pure-button primary-button" role="button" value = "Submit">
</form>
{% endblock %}